<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ontime.mapper.QLoginLimitMapper" >
  <resultMap id="BaseResultMap" type="com.ontime.pojo.QLoginLimit" >
    <id column="limit_id" property="limitId" jdbcType="INTEGER" />
    <result column="quser_id" property="quserId" jdbcType="INTEGER" />
    <result column="login_type_id" property="loginTypeId" jdbcType="INTEGER" />
    <result column="enabled" property="enabled" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="stop_time" property="stopTime" jdbcType="TIMESTAMP" />
    <result column="hardware" property="hardware" jdbcType="VARCHAR" />
    <result column="is_car" property="isCar" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    limit_id, quser_id, login_type_id, enabled, update_time, stop_time, hardware, is_car
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ontime.pojo.QLoginLimitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from q_login_limit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from q_login_limit
    where limit_id = #{limitId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from q_login_limit
    where limit_id = #{limitId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ontime.pojo.QLoginLimitExample" >
    delete from q_login_limit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ontime.pojo.QLoginLimit" >
    <selectKey resultType="java.lang.Integer" keyProperty="limitId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into q_login_limit (quser_id, login_type_id, enabled, 
      update_time, stop_time, hardware, 
      is_car)
    values (#{quserId,jdbcType=INTEGER}, #{loginTypeId,jdbcType=INTEGER}, #{enabled,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{stopTime,jdbcType=TIMESTAMP}, #{hardware,jdbcType=VARCHAR}, 
      #{isCar,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ontime.pojo.QLoginLimit" >
    <selectKey resultType="java.lang.Integer" keyProperty="limitId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into q_login_limit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="quserId != null" >
        quser_id,
      </if>
      <if test="loginTypeId != null" >
        login_type_id,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="stopTime != null" >
        stop_time,
      </if>
      <if test="hardware != null" >
        hardware,
      </if>
      <if test="isCar != null" >
        is_car,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="quserId != null" >
        #{quserId,jdbcType=INTEGER},
      </if>
      <if test="loginTypeId != null" >
        #{loginTypeId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hardware != null" >
        #{hardware,jdbcType=VARCHAR},
      </if>
      <if test="isCar != null" >
        #{isCar,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ontime.pojo.QLoginLimitExample" resultType="java.lang.Integer" >
    select count(*) from q_login_limit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update q_login_limit
    <set >
      <if test="record.limitId != null" >
        limit_id = #{record.limitId,jdbcType=INTEGER},
      </if>
      <if test="record.quserId != null" >
        quser_id = #{record.quserId,jdbcType=INTEGER},
      </if>
      <if test="record.loginTypeId != null" >
        login_type_id = #{record.loginTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.enabled != null" >
        enabled = #{record.enabled,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.stopTime != null" >
        stop_time = #{record.stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hardware != null" >
        hardware = #{record.hardware,jdbcType=VARCHAR},
      </if>
      <if test="record.isCar != null" >
        is_car = #{record.isCar,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update q_login_limit
    set limit_id = #{record.limitId,jdbcType=INTEGER},
      quser_id = #{record.quserId,jdbcType=INTEGER},
      login_type_id = #{record.loginTypeId,jdbcType=INTEGER},
      enabled = #{record.enabled,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      stop_time = #{record.stopTime,jdbcType=TIMESTAMP},
      hardware = #{record.hardware,jdbcType=VARCHAR},
      is_car = #{record.isCar,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ontime.pojo.QLoginLimit" >
    update q_login_limit
    <set >
      <if test="quserId != null" >
        quser_id = #{quserId,jdbcType=INTEGER},
      </if>
      <if test="loginTypeId != null" >
        login_type_id = #{loginTypeId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopTime != null" >
        stop_time = #{stopTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hardware != null" >
        hardware = #{hardware,jdbcType=VARCHAR},
      </if>
      <if test="isCar != null" >
        is_car = #{isCar,jdbcType=INTEGER},
      </if>
    </set>
    where limit_id = #{limitId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ontime.pojo.QLoginLimit" >
    update q_login_limit
    set quser_id = #{quserId,jdbcType=INTEGER},
      login_type_id = #{loginTypeId,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      stop_time = #{stopTime,jdbcType=TIMESTAMP},
      hardware = #{hardware,jdbcType=VARCHAR},
      is_car = #{isCar,jdbcType=INTEGER}
    where limit_id = #{limitId,jdbcType=INTEGER}
  </update>
</mapper>